[filter "lfs"]
	clean = git-lfs clean -- %f
	smudge = git-lfs smudge -- %f
	process = git-lfs filter-process
	required = true
[user]
	name = Matéo Defief
	email = flibustier.pau@outlook.fr
[core]
	editor = \"C:\\Users\\sonic\\AppData\\Local\\Programs\\Microsoft VS Code\\bin\\code\" --wait
